# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Environnements virtuels
venv/
env/
.venv/

# Fichiers de configuration IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers temporaires
*.log
*.tmp